{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body_block %}
    <h1>Register with Rango</h1>
    {% if resgistered %}
      Rango says: <strong> Thank you for registration!<strong>
      <a href="/rango/">Go to Homepage</a>
    {% else %}
      Rango says: <strong> Register Here!</strong>
      <form id='user_form' method="post" enctype="multipart/form-data"
       action="/rango/register/">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
      </form>
    {% endif %}
{% endblock %}
